<div>
    <div class="content">
        <div class="contenu">
            <div class="page" ng-repeat="projects in ctrl.pages">
                <div ng-repeat="project in projects" class="project resume" ng-click="ctrl.goToProject(project)">
                    <project-star project="project" user-stars="ctrl.myStars"></project-star>
                    <div class="project-date">
                        <div class="date">{{ project.createdAt|date }}</div>
                        <div class="date">{{ project.createdAt|date:'shortTime' }}</div>
                    </div>
                    <img class="project-author" gravatar-src="project.author.hash" gravatar-size="40">

                    <h2><a href="" class="project-name">{{ project.name }}</a></h2>
                    <div class="project-description">{{ project.shortDescription }}</div>
                </div>
            </div>

            <a ng-show="ctrl.hasNextPage" class="rizeway-pager pointer" ng-click="ctrl.loadNextPage()">
                Produits suivants
            </a>

            <div ng-show="ctrl.loading">
                <i class="fa fa-spin fa-spinner"></i> Chargement des produits en cours
            </div>
        </div>

        <div class="sidebar">
            <a class="sidebar-button" ng-click="ctrl.showNewProductForm = true">
                <i class="fa fa-plus"></i> Ajouter une application ou site web
            </a>

            <div data-ng-include="'core/utils/about.html'"></div>
        </div>
    </div>
</div>

<div ng-show="ctrl.showNewProductForm" class="sliding-sidebar am-slide-right">
    <div class="sliding-header">
        <a class="close" ng-click="ctrl.showNewProductForm = false">×</a>
        <h2>Ajoutez un nouveau produit</h2>
    </div>

    <div class="sliding-content">

        <div ng-hide="ctrl.loggedin">
            <p>Dyalna Tech vous permet de donner plus de visibilité à votre produit (application, site web ou autre produit technologique) au niveau du web Algérien.</p>

            </p>Avant de proposer votre produit, vous devez d'abord <a ui-sref="app.login">vous connecter</a>. Si vous n'avez pas encore de compte Dyalna, vous pouvez vous <a ui-sref="app.register">inscrire par ici</a>.

            <div class="row-fluid separator-top">
                <div class="span6">
                    <a class="sidebar-button" ui-sref="app.login">Connexion</a>
                </div>

                <div class="span6">
                    <a ui-sref="app.register" class="sidebar-button">Inscription</a>
                </div>
            </div>
        </div>

        <project-new ng-if="ctrl.loggedin" on-create="ctrl.showNewProductForm = false"></project-new>
    </div>
</div>

<div ng-show="ctrl.showNewProductForm" class="sliding-backdrop am-fade" ng-click="ctrl.showNewProductForm = false"></div>
