<div>
    <div class="content">
        <div class="contenu">
            <h1>Découvrez les derniers projets web et mobile algériens</h1>

            <div class="page">
                <div class="project" ng-repeat="project in ctrl.projects">
                    <div class="project-date">
                        <div class="date">{{ project.createdAt|date }}</div>
                        <div class="date">{{ project.createdAt|date:'shortTime' }}</div>
                    </div>
                    <a ui-sref="app.project({ id: project.id })" class="project-comments-count">
                        <div class="fb-comments-count" data-href="{{ ctrl.getUrl(project) }}"></div>
                    </a>
                    <img class="project-author" gravatar-src="project.author.hash" gravatar-size="40">

                    <h2><a ui-sref="app.project({ id: project.id })" class="project-name">{{ project.name }}</a></h2>
                    <div class="project-description">{{ project.shortDescription }}</div>
                </div>
            </div>

        </div>

        <div class="sidebar">
            <a class="sidebar-button" ng-click="showNewProductForm = true">
                <i class="fa fa-plus"></i> Ajouter une application ou site web
            </a>

            <div data-ng-include="'core/utils/about.html'"></div>
        </div>
    </div>
</div>

<div ng-show="showNewProductForm" class="sliding-sidebar am-slide-right">
    <div class="sliding-header">
        <a class="close" ng-click="showNewProductForm = false">×</a>
        <h2>Ajoutez un nouveau produit</h2>
    </div>

    <div class="sliding-content">

        <div ng-hide="ctrl.loggedin">
            <p>Dyalna Tech vous permet de donner plus de visibilité à votre produit (application, site web ou autre produit technologique) au niveau du web Algérien.</p>

            </p>Avant de proposer votre produit, vous devez d'abord <a ui-sref="app.login">vous connecter</a>. Si vous n'avez pas encore de compte Dyalna, vous pouvez vous <a ui-sref="app.register">inscrire par ici</a>.

            <div class="row-fluid separator-top">
                <div class="span6">
                    <a class="sidebar-button" ui-sref="app.login">Connexion</a>
                </div>

                <div class="span6">
                    <a ui-sref="app.register" class="sidebar-button">Inscription</a>
                </div>
            </div>
        </div>

        <form ng-show="ctrl.loggedin" ng-submit="ctrl.create()" name="createForm">
            <div>
                <div ng-show="ctrl.createError" class="alert alert-danger">
                    Une erreur est survenue lors de l'enregistrement de votre produit, vérifiez que vous avez bien rempli tous les champs du formulaire.
                </div>

                <div class="form-row">
                    <div class="form-label">
                        <label>Nom de votre produit</label>
                    </div>
                    <div class="form-widget">
                        <input ng-class="{error: createForm.name.$dirty && createForm.name.$invalid}" name="name" type="text" ng-model="ctrl.project.name" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-label">
                        <label>Description courte</label>
                        <p>Une phrase courte pour décrire votre produit.</p>
                    </div>
                    <div class="form-widget">
                        <textarea class="small" ng-class="{error: createForm.shortDescription.$dirty && createForm.shortDescription.$invalid}" name="shortDescription" ng-model="ctrl.project.shortDescription" required></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-label">
                        <label>Description</label>
                        <p>Vous pouvez utilisez du markdown.</p>
                    </div>
                    <div class="form-widget">
                        <textarea ng-class="{error: createForm.description.$dirty && createForm.description.$invalid}" name="description" ng-model="ctrl.project.description" markdown-editor options="{ iconlibrary : 'fa', hiddenButtons: ['cmdPreview', 'cmdImage'], language: 'fr', fullscreen: false }" required></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-label">
                        <label>Url</label>
                        <p>Url menant à votre application ou à une page de détails sur votre produit.</p>
                    </div>
                    <div class="form-widget">
                        <input ng-class="{error: createForm.url.$dirty && createForm.url.$invalid}" name="url" type="url" ng-model="ctrl.project.url" required />
                    </div>
                </div>
            </div>

            <div class="separator-top">
                <button class="sidebar-button btn-icon-right" ng-class="{disabled: ctrl.loading || createForm.$invalid}">
                    Proposez votre produit
                    <i ng-if="ctrl.loading" class="fa fa-spin fa-spinner icon"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div ng-show="showNewProductForm" class="sliding-backdrop am-fade" ng-click="showNewProductForm = false"></div>
