<div>
    <div class="content">
        <div class="contenu">
            <div class="project single">
                <project-star project="ctrl.project" user-stars="ctrl.myStars"></project-star>
                <div class="project-date">
                    <div class="date">{{ ctrl.project.createdAt|date }}</div>
                    <div class="date">{{ ctrl.project.createdAt|date:'shortTime' }}</div>
                </div>
                <img class="project-author" gravatar-src="ctrl.project.author.hash" gravatar-size="40">

                <h1><a ng-href="{{ ctrl.project.url }}" class="project-name">{{ ctrl.project.name }}</a></h1>

                <div class="project-description">{{ ctrl.project.shortDescription }}</div>
                <div class="clear"></div>
            </div>

            <div class="separator-top project-long-description" marked="ctrl.project.description"></div>
            <div class="fb-comments" data-width="668" data-href="{{ ctrl.absoluteUrl }}" data-colorscheme="light"></div>
        </div>

        <div class="sidebar">
            <div class="project-makers sidebar-block" ng-if="!ctrl.loadingMakers">
                <h3>
                    Fondateurs
                    <a ng-if="!ctrl.isMaker" href="" ng-click="ctrl.claimToBeMaker()" title="Je suis aussi un fondateur"><i class="fa fa-plus-circle"></i></a>
                </h3>
                <div ng-if="ctrl.makers.length === 0">Aucun fondateur approuvé.</div>
                <a href="" class="maker" ng-repeat="maker in ctrl.makers">
                    <img title="{{ maker.username }}" class="project-author" gravatar-src="maker.hash" gravatar-size="40">
                </a>
            </div>

            <div class="project-likers sidebar-block separator-top" ng-if="!ctrl.loadingLikers && ctrl.likers.length !== 0">
                <h3>Ils aiment {{ ctrl.project.name }}</h3>
                <a href="" class="maker" ng-repeat="liker in ctrl.likers">
                    <img title="{{ liker.username }}" gravatar-src="star.hash" gravatar-size="40">
                </a>
            </div>
        </div>
    </div>
</div>
