<p>Un nouveau project a été proposé sur Dyalna Tech et est en attente de validation</p>

<p><strong>Nom : </strong> {{ project.name }}</p>
<p><strong>Description : </strong> {{ project.shortDescription }}</p>
<p><strong>Url : </strong> <a href="{{ project.url }}">{{ project.url }}</a></p>

<p>Cordialement,</p>
<p>--</p>
<p>L'équipe Dyalna.</p>
