<p>Un nouvel utilisateur a été proposé comme fondateur du projet {{ project.name }}. C'est en attente de validation.</p>

<p><strong>Nom d'utilisateur : </strong> {{ maker }}</p>

<p>Cordialement,</p>
<p>--</p>
<p>L'équipe Dyalna.</p>
