module.exports = {
  port: 8800,

  identity: {
    host: process.env.IDENTITY_HOST,
    token: process.env.IDENTITY_TOKEN,
    adminUsername: process.env.IDENTITY_ADMIN_USERNAME,
    adminPassword: process.env.IDENTITY_ADMIN_PASSWORD
  },

  database: {
    production: {
      username: process.env.MYSQL_USERNAME,
      password: process.env.MYSQL_PASSWORD,
      database: process.env.MYSQL_DATABASE,
      host: process.env.MYSQL_HOST,
      dialect: 'mysql'
    }
  },

  mailer: {
    transport: {
      service: 'Gmail',
      auth: {
        user: process.env.GMAIL_USERNAME,
        pass: process.env.GMAIL_PASSWORD
      }
    },
    from: 'Dyalna Tech <dyalnatech@rizeway.com>',
    to: 'dyalnatech@rizeway.com'
  }

};
