@import '../../../bower_components/dyalna-ui/less/bootstrap';
@import '../../../bower_components/fontawesome/less/font-awesome';
@import 'layout';
@import 'buttons';
@import 'sliding';
@import 'close';
@import 'forms';
@import 'project';
@import 'projects';
@import 'growl';
@import 'sidebar';
@import 'social-buttons';
@import 'markdown';
@import 'user';
@import 'smartphone';

#user-loggedin-menu {
  width: 200px;
}

.inline-block {
  display: inline-block;
}

#about {
  line-height: 22px;
  text-align: justify;
  padding-top: 20px;
}

#login .modal-body {
  padding: 0;
}

#fbcomments, .fb_iframe_widget,
.fb_iframe_widget[style],
.fb_iframe_widget iframe[style],
.fb_iframe_widget span,
#fbcomments iframe [style]
{
  width: 100% !important;
}
