.project {

  overflow: hidden;
  border-top: 1px dashed #ddd;

  .project-date {
    float: right;
    width: 100px;
    padding-top: 10px;

    .date {
      color: #bbb;
      text-align: right;
      font-size: 12px;
      line-height: 18px;
    }
  }

  h2, h1 {
    font-weight: 400;
    color: #434343;
    font-size: 17px;
    margin: 10px 0 5px;

    a {
      color: #434343;
    }
  }

  .project-description {
    line-height: 25px;
  }
}

.page .project:first-child {
  border: none;
}
