.project {

  overflow: hidden;
  border-top: 1px dashed #ddd;
  padding-bottom: 10px;
  cursor: pointer;

  &.single {
    border: 0;
    border-bottom: 1px dashed #ddd;

    h1 a {
      .fa {
        font-size: 14px;
        opacity: 0.5;
      }

      &:hover .fa {
        opacity: 0.8;
      }
    }
  }

  &.resume {
    &:hover {
      background: #f0f0f0;
    }
  }

  .project-stars {
    float: left;
    width: 60px;
    margin-top: 25px;
    text-align: center;
    color: #d9d9d9;
    &:hover {
      color: @themeColorOne;
    }
    .icon {
      display: block;
    }

    &.stared .icon {
      color: @themeColorTwo;
    }
  }

  .project-comments-count {
    float: right;
    display: block;
    margin-top: 18px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    .border-radius(20px);
    border: 1px solid #EEEEEE;
    text-align: center;
    color: #DDDDDD;
    line-height: 40px;
    font-size: 16px;

    .fb-comments-count {
      margin-left: 2px;
      display: inline-block;
    }

    &:hover {
      color: #999999;
    }
  }

  .project-date {
    float: right;
    width: 100px;
    padding-top: 20px;
    padding-right: 10px;

    .date {
      color: #bbb;
      text-align: right;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .project-author {
    float: right;
    vertical-align: middle;
    margin-top: 18px;

    img {
      border: 1px solid #EEEEEE;
      .border-radius(20px);
    }
  }

  h2, h1 {
    font-weight: 400;
    color: #434343;
    font-size: 20px;
    margin: 10px 0 0;

    a {
      color: #434343;
    }
  }

  .project-description {
    line-height: 25px;
    padding-right: 180px;
    padding-left: 60px;
  }
}

.page .project:first-child {
  border: none;
}


.project-likers, .project-makers {
  img {
    .border-radius(20px);
  }
}
