<a ng-if="ctrl.loggedin && !ctrl.loading && !ctrl.isStared" class="project-stars" href="" ng-click="ctrl.star()">
    <i class="fa fa-heart icon"></i>
    <span>{{ ctrl.project.countStars }}</span>
</a>
<a ng-if="ctrl.loggedin && !ctrl.loading && ctrl.isStared" class="project-stars stared" href="" ng-click="ctrl.unstar()">
    <i class="fa fa-heart icon"></i>
    <span>{{ ctrl.project.countStars }}</span>
</a>
<a ng-if="!ctrl.loggedin" class="project-stars" href="">
    <i class="fa fa-heart icon"></i>
    <span>{{ ctrl.project.countStars }}</span>
</a>
<a ng-if="ctrl.loading" class="project-stars" href="">
    <i class="fa fa-spin fa-spinner icon"></i>
    <span>{{ ctrl.project.countStars }}</span>
</a>
