<div>
    <div id="logo"><a ui-sref="app.list">Dyalna <em>Tech</em></a></div>
    <div id="slogan">Applications web et mobiles en Algérie</div>
    <user-menu id="user-menu"></user-menu>
    <div id="dyalna-menu" class="dropdown">
        <a class="dropdown-toggle" title="l'univers Dyalna"
           data-template="core/utils/dyalna-applications.html" data-animation="am-flip-x"
           data-auto-close="1"  data-placement="bottom-right" bs-popover><i class="fa fa-sitemap"></i></a>
    </div>
</div>
