<div class="dropdown-menu pull-right">
    <a href="http://dyalna.com"  class="menu-item" title="Dyalna : Actualité de chez nous">
        <i class="fa fa-globe"></i>
        <span>Actualité</span>
    </a>
    <a href="http://jobs.dyalna.com"  class="menu-item" title="Dyalna Jobs : Toutes les offres d'emplois en Algérie">
        <i class="fa fa-suitcase"></i>
        <span>Emploi</span>
    </a>
    <a href="http://tech.dyalna.com"  class="menu-item current" title="Dyalna Tech : Applications web et mobiles en Algérie">
        <i class="fa fa-desktop"></i>
        <span>Tech</span>
    </a>
    <a href="http://video.dyalna.com"  class="menu-item" title="Dyalna Vidéo : Toutes les vidéos du web Algérien">
        <i class="fa fa-video-camera"></i>
        <span>Video</span>
    </a>
</div>
